# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

In [2]:
!conda instal lxml -y

'conda' is not recognized as an internal or external command,
operable program or batch file.

# Python Arithmetic Operators

In [3]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
a : int = 7
b : int = 2

print(a + b) # addtition
print(a - b) # subtraction
print(a * b)
print(a / b) # division

9
5
14
3.5

In [5]:
a : int = 11
b : int = 3

print(a % 3)

2

In [6]:
print(2**2)
print(2**3)

4
8

In [7]:
print(12 / 3)

4.0

In [8]:
print(14.8 / 3)

4.933333333333334

In [9]:
print( 14.8 // 3)

4.0

In [10]:
print( 14 // 3)

4

# python Assignment Operators

In [4]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [11]:
#:=

In [12]:
a : int = 7
print(b := 7)

7

In [13]:
# = assign
a : int = 7
b : int = 2

In [14]:
# +=
a : int = 7
print(a)
a = a + 2
print(a)

7
9

In [15]:
# +=
a : int = 7
print(a)
a += 2
print(a)

7
9

In [16]:
a : int = 7
print(a)
a -= 2
print(a)

7
5

# Python Comparison Operators

In [21]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [17]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [18]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [19]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == 7
# True

False

In [20]:
# !=
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# False

True

In [22]:
# !=
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

In [23]:
# !=
a : int = 2
b : int = 7

print(a >= b)

False

In [24]:
# !=
a : int = 7
b : int = 7

print(a >= b)

True

In [ ]:
# !=
a : int = 7
b : int = 7

print(a => b)

ASCII Code
```
A = 65
B = 66
Z = 90

a = 97
b = 98
z = 122

0=48
1=49
9=57
```

In [25]:
ord('A')

65

In [26]:
chr(65)

'A'

In [27]:
a : str = 'A'
b : str = 'B'

print(b >= a)

True

In [28]:
a : str = 'A'
b : str = 'a' 

print(b >= a)

True

# Python Logical Operators

In [5]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [29]:
# and لازمی
# or = optional
#1        2        3        4
True and True and True and True

True

In [30]:
# and لازمی
# or = optional
#1        2        3        4
print(True and True and True and True  )
print(True and True and False and True)
print(False and False and False and True)

True
False
False

In [33]:
# and لازمی
# or = optional
#1        2        3        4
print(True or True or True or True  )
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

In [34]:
not True

False

In [35]:
name : str = "Qasim"
print(not name=="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"
# True

False

In [36]:
name : str = "Qasim"
print(name!="Qasim")
# name == "Qasim"
# "Qasim" == "Qasim"

False

# Python Identity Operators

In [9]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [37]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

140716131461168
140716131461168

In [38]:
i : str = 'abc'
j : str = 'xyz'

print(id(i))
print(id(j))

i is j

140716131461168
2074265695168

False

In [39]:
x is z

True

In [40]:
x : str = 'abc'
z : str = 'abc'

print(id(x))
print(id(z))

x is not z

140716131461168
140716131461168

False

# Python Membership Operators

In [3]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [41]:
names: list[str] = [chr(i) for i in range(65,91)]
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [42]:
names: list[str] = [chr(i) for i in range(65,91)]
for i in range(len(names)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [43]:
names: list[str] = [chr(i) for i in range(65,91)]
for i in range(len(names)):
    print(i,names[i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [44]:
names: list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)):
    print(i, names[i])
    if names[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [45]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" in names

True

In [46]:
names: list[str] = [chr(i) for i in range(65,91)]

"D" not in names

False

In [47]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput in names

False

In [48]:
names : list[str] = ['Sir Zia','Sir Inam', 'Qasim']

uinput : str = input("Enter your name")

uinput not in names

True

In [49]:
uinput not in names

True

# Operator Precedence
<img src ="https://learningmonkey.in/wp-content/uploads/2021/05/Operator-Precedence-and-Associativity-in-Python.jpg">

# PEMDAS

In [50]:
print(3 + 2 - 2 * 4 /2 + 2)
#     3+2−2×4÷2+2
#     3 + 2 - 4 + 2
#      6    - 8

3.0

Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

Parentheses/Brackets
Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
MD Multiplication and Division (left-to-right)
AS Addition and Subtraction (left-to-right)
Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

Multiplication and Division:
[ 2 \times 4 = 8 ] [ 8 \div 2 = 4 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4 + 2 ]

Addition and Subtraction (from left to right):
[ 3 + 2 = 5 ] [ 5 - 4 = 1 ] [ 1 + 2 = 3 ]

So, the final answer is:

In [51]:
print((6 + 3) - (6 + 3))

0

In [52]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

In [6]:
# unzip
#0  1    2     0        1   2
a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

In [8]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

In [9]:
a, b, c = ('qasim', 7, 3.0)
print(a)
print(b)
print(c)

qasim
7
3.0

In [10]:
data = ('qasim', 7, 3.0)
print(data[0], data[1], data[2])

qasim 7 3.0

In [11]:
data = ('qasim', 7, 3.0)
print(*data)

qasim 7 3.0

In [53]:
2 * 2
"a" * 3

'aaa'

In [55]:
# akadkjas


# adskf
# ads
# Falsea
# df

In [56]:
"""
asdf
asd
f
asdf

"""

print('hello')

hello

In [59]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!