# List
   * iteration operation with loop
   * apply any operation on element

In [3]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [2]:
my_list = [1, 2, 3, 4, 5]

for x in my_list:
 print(x)

1
2
3
4
5

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [4]:
fruits = ["apple", "banana", "cherry"]

i:int = 0 # counter = 0

while i<len(fruits): # names length =3
    print(fruits[i])
    i += 1

apple
banana
cherry

names = names = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for(i=0; i<names.length; i++){
    names[i]
}

In [13]:
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

Welcome Dear Tacher Sir Zia
Welcome Dear Tacher Muhammad Qasim
Welcome Dear Tacher Dr Noman

In [6]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

In [5]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team

Pakistan zinda bad

In [8]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team")

    print("Pakistan zinda bad\n")

Welcome Dear Tacher Sir Zia
PIAIC Gen AI Team
Pakistan zinda bad

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team
Pakistan zinda bad

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team
Pakistan zinda bad

In [7]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[-2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team")

    print("Pakistan zinda bad\n")

Welcome Dear Tacher Muhammad Qasim
PIAIC Gen AI Team
Pakistan zinda bad

Welcome Dear Tacher Dr Noman
PIAIC Gen AI Team
Pakistan zinda bad

In [10]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")
    
print("Thank you everyone, that was a great magic show!")# last message for everyone

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [9]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::2]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team")

    print("Pakistan zinda bad\n")

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team
Pakistan zinda bad

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team
Pakistan zinda bad

In [12]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [11]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [13]:
input_user : str = input("Enter user name")
print(input_user)

ayaan

In [14]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print(f"Valid User {user}")
        break
else:
    print("Not found or Invalid user name")

Not found or Invalid user name

In [15]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")

# user , password = ("qasim",'123')
# user = name[0]
# password = name[1]

for row in data_base:
    user, password = row  # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Not found or Invalid user name

In [16]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    

print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

# Numbers with loop
* range(start,end,step)

In [39]:
list(range(4,41,4))# starting=0, ending = n-1 21-1=20, step

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40]

In [19]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

for index, name in enumerate(magicians):
    print(index, name)

0 alice
1 david
2 carolina

In [18]:
#              0        1         2
magicians = ['alice', 'david', 'carolina']

list(enumerate(magicians))

[(0, 'alice'), (1, 'david'), (2, 'carolina')]

In [17]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [20]:
for n in range(1,11):
    print(f"{5} X {n} = {n*5}")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [50]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive
* for item in items_list:
   * loop_body
* Comprehensive Style
* [loop_body for item in items_list]

In [21]:
list(range(1,11))# starting=0, ending = n-1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [23]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
'line1'
'line2'
'line3' # always return last line

'line3'

In [25]:
print('line1')
print('line2')
print('line3') # always return last line

line1
line2
line3

In [3]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [26]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [27]:
my_foods = ['pizza', 'falafel', 'carrot cake'] 
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [9]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:1])

A
('A',)

In [15]:
names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [16]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [36]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[2])
data[1].append(30)
print(data)

True
('A', [1, 2, 3, 30], True)

In [37]:
a  = input("abc") # return string type
print(type(a))
print(a)

<class 'str'>
123

In [38]:
sorted([7,8,1,3])

[1, 3, 7, 8]